<div class="language modal-container bg-cl-primary cl-tertiary" style="width: 650px;">
	<header class="modal-header py25 px65 h1 serif weight-700 bg-cl-secondary"><i slot="close" data-testid="closeModalButton" class="modal-close material-icons p15 cl-bg-tertiary">close</i><p>Choose your country</p></header>
	<div class="modal-content pt30 pb60 px65"><div>
		<div class="">
			<div class="country country-current">
				<h3>EGYPT</h3>
				<ul>
					<li><a href="/">English</a></li>
					<li><a href="/">عربي</a></li>
				</ul>
			</div>
		</div></div>
	</div>
</div>