<section *ngIf="relateds" class="py20 new-collection container px15">
    <div>
        <header class="col-md-12">
            <h2 class="align-center cl-accent">We found other products you might like</h2>
        </header>
    </div>
    <div class="center-xs">
        <div class="product-listing row m0 center-xs start-md">
            <div *ngFor="let related of relateds" class="col-sm-6 flex col-md-3 col-xs-6">
                <div class="product align-center w-100 pb20">
                    <a (click)="clickRelated(related.item_id)" class="block no-underline product-link cursor-pointer" data-testid="productLink">
                        <div [class.sale]="item.msrp > item.rtp" class="product-image relative bg-cl-secondary product-image--loaded"><img alt="{{ related.category }}" src="https://www.msou.com/collection/small/{{ related.image }}" height="300" width="310" data-testid="productImage" class="product-image__content"></div>
                        <p class="mb0 cl-accent mt10">
                            {{ related.item_name }}
                        </p>
                        <span *ngIf="item.msrp > item.rtp" class="price-original mr5 lh30 cl-secondary">L.E {{ related.msrp }}</span>                                
                        <span class="lh30 cl-secondary">L.E {{ related.rtp }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>