<div class="category">
    <header class="bg-cl-secondary py35 pl20">
        <div class="container">
            <div class="breadcrumbs h5 cl-gray">
                <span>
                    <a routerLink="" class="">Home</a>
                    /
                </span>
                <span class="cl-mine-shaft">{{name | titlecase }}</span>
            </div>
            <div class="row middle-sm">
                <h1 class="col-sm-9 category-title mb10">{{name | uppercase }} </h1>
                <div class="sorting col-sm-3 align-right">
                    <div class="sort-by">
                        <select
                            #selectedSort
                            (change)='onInputChange(selectedSort.value)'
                            class="cl-secondary">
                            <option 
                                *ngFor='let filter of sortFilters' 
                                [disabled]="filter.value==''" 
                                value="{{filter.value}}">{{filter.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row m0">
                <button (click)="filteredMobile = true" class="col-xs-5 mt25 mr15 p15 mobile-filters-button bg-cl-th-accent brdr-none cl-white h5 sans-serif fs-medium-small">Filters</button>
                <div class="mobile-sorting col-xs-6 mt25">
                    <div class="sort-by">
                        <select
                            #selectedSortMobile
                            (change)='onInputChange(selectedSortMobile.value)'
                            class="cl-secondary">
                            <option 
                                *ngFor='let filter of sortFilters' 
                                [disabled]="filter.value==''" 
                                value="{{filter.value}}">{{filter.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container pb60">
        <div class="row m0 pt15">
            <div class="col-md-3 start-xs category-filters">
                <div class="sidebar">
                    <h4 class="sidebar__header">
                        <span>Filter </span>
                        <button *ngIf="filtered" (click)="resetFilters()" class="no-outline brdr-none py15 px40 bg-cl-mine-shaft :bg-cl-th-secondary ripple h5 cl-white sans-serif filters-clear">Clear</button>
                    </h4>
                    <div>
                        <h5>Color</h5>
                        <div>
                            <button *ngFor="let color of itemsColors" (click)="filterColors(color)" [class.active]="color == selectedColor" class="mr10 mb5 bg-cl-transparent brdr-1 brdr-circle brdr-cl-transparent :brdr-cl-bg-primary relative inline-flex pointer color">
                                <span class="absolute brdr-circle brdr-1 brdr-cl-secondary block color-inside" style="background-color: {{ color }};"></span>
                            </button>                            
                        </div>
                    </div>
                    <div>
                        <h5>Size</h5>
                        <div>
                            <button *ngFor="let size of itemsSize" (click)="filterSizes(size)" [class.active]="size == selectedSize" class="p0 bg-cl-primary brdr-1 brdr-cl-primary brdr-square h5 cl-tertiary size-selector size-select mr10 mb10">{{ size }}</button>
                        </div>
                    </div>
                    <div>
                        <h5>Price</h5>
                        <div>
                            <div class="price-select mb10 block">
                                <button aria-label="Price< 100 L.E" (click)="filterPrice('less100')" [class.active]="'less100' == selectedPrice" class="relative brdr-cl-bg-tertiary brdr-1 bg-cl-transparent mr10 pointer price-selector">
                                    <span class="bg-cl-transparent absolute block square"></span>
                                </button>
                                <span>&lt; 100 L.E</span>
                            </div>
                            <div class="price-select mb10 block">
                                <button aria-label="Price 100 - 200 L.E" (click)="filterPrice('less200')" [class.active]="'less200' == selectedPrice" class="relative brdr-cl-bg-tertiary brdr-1 bg-cl-transparent mr10 pointer price-selector">
                                    <span class="bg-cl-transparent absolute block square"></span>
                                </button>
                                <span>100 - 200 L.E</span>
                            </div>
                            <div class="price-select mb10 block">
                                <button aria-label="Price > 200 L.E" (click)="filterPrice('more200')" [class.active]="'more200' == selectedPrice" class="relative brdr-cl-bg-tertiary brdr-1 bg-cl-transparent mr10 pointer price-selector">
                                    <span class="bg-cl-transparent absolute block square"></span>
                                </button>
                                <span>&gt; 200 L.E</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="filteredMobile" class="col-md-3 start-xs mobile-filters">
                <div class="close-container absolute w-100">
                    <i (click)="filteredMobile = false" class="material-icons p15 close cl-accent">close</i>
                </div>
                <div class="sidebar mobile-filters-body">
                    <h4 class="sidebar__header">
                        <span>Filter</span>
                        <button *ngIf="filtered" class="no-outline brdr-none py15 px40 bg-cl-mine-shaft :bg-cl-th-secondary ripple h5 cl-white sans-serif filters-clear">Clear</button>
                    </h4>
                    <div>
                        <h5>Color</h5>
                        <div>
                            <button  *ngFor="let color of itemsColors" (click)="filterColors(color)" [class.active]="color == selectedColor" aria-label="Select color Blue" class="mr10 mb5 bg-cl-transparent brdr-1 brdr-circle brdr-cl-transparent :brdr-cl-bg-primary relative inline-flex pointer color">
                                <span class="absolute brdr-circle brdr-1 brdr-cl-secondary block color-inside" style="background-color: {{color}};"></span>
                            </button>                            
                        </div>
                    </div>
                    <div>
                        <h5>Size</h5>
                        <div>
                            <button *ngFor="let size of itemsSize" (click)="filterSizes(size)" [class.active]="size == selectedSize" aria-label="Select size" class="p0 bg-cl-primary brdr-1 brdr-cl-primary brdr-square h5 cl-tertiary size-selector size-select mr10 mb10">{{ size }}</button>
                        </div>
                    </div>
                    <div>
                        <h5>Price</h5>
                        <div>
                            <div class="price-select mb10 block">
                                <button aria-label="Price< 100 L.E" (click)="filterPrice('less100')" [class.active]="'less100' == selectedPrice" class="relative brdr-cl-bg-tertiary brdr-1 bg-cl-transparent mr10 pointer price-selector">
                                    <span class="bg-cl-transparent absolute block square"></span>
                                </button>
                                <span>&lt; 100 L.E</span>
                            </div>
                            <div class="price-select mb10 block">
                                <button aria-label="Price 100 - 200 L.E" (click)="filterPrice('less200')" [class.active]="'less200' == selectedPrice" class="relative brdr-cl-bg-tertiary brdr-1 bg-cl-transparent mr10 pointer price-selector">
                                    <span class="bg-cl-transparent absolute block square"></span>
                                </button>
                                <span>100 - 200 L.E</span>
                            </div>
                            <div class="price-select mb10 block">
                                <button aria-label="Price > 200 L.E" (click)="filterPrice('more200')" [class.active]="'more200' == selectedPrice" class="relative brdr-cl-bg-tertiary brdr-1 bg-cl-transparent mr10 pointer price-selector">
                                    <span class="bg-cl-transparent absolute block square"></span>
                                </button>
                                <span>&gt; 200 L.E</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p *ngIf="products" class="col-xs-12 hidden-md m0 px20 cl-secondary">{{products.length}} items</p>
            <div class="col-md-9 pt20 px10 border-box products-list">
                <div class="product-listing row m0 center-xs start-md">
                    <div *ngFor="let product of products | paginate: { itemsPerPage: 15, currentPage: p }" class="col-sm-6 flex col-md-4 col-xs-6">
                        <div class="product align-center w-100 pb20">
                            <a routerLink="/product/{{product.slug}}/{{product.item_id}}" class="block no-underline product-link">
                                <div class="product-image relative product-image--loaded">
                                    <img alt="{{ product.item_name }}" src="https://www.msou.com/collection/small/{{ product.image }}" class="product-image__content bg-cl-secondary">
                                </div>
                                <p class="mb0 cl-accent mt10">{{ product.item_name }}</p>
                                <span *ngIf="product.msrp > product.rtp" class="price-original mr5 lh30 cl-secondary">L.E {{ product.msrp }}</span>
                                <span class="lh30 cl-secondary">L.E {{ product.rtp }}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="align-center"><pagination-controls (pageChange)="pageChanged($event)"></pagination-controls></div>
            </div>
        </div>
    </div>
</div>
