<div id="checkout"><div class="container"><div class="row" style="display: none;"><div class="col-sm-7 col-xs-12 pb70"><div class="checkout-title py5 px20"><h1>
            Checkout
          </h1></div> <div data-v-21d5b280="" class="personal-details line relative"><div data-v-21d5b280="" class="row pl20"><div data-v-21d5b280="" class="col-xs-1 col-sm-2 col-md-1"><div data-v-21d5b280="" class="number-circle lh35 cl-white brdr-circle align-center weight-700 bg-cl-th-accent">
        1
      </div></div> <div data-v-21d5b280="" class="col-xs-11 col-sm-9 col-md-11"><div data-v-21d5b280="" class="row mb15"><div data-v-21d5b280="" class="col-xs-12 col-md-7"><h3 data-v-21d5b280="" class="m0 mb5">
            Personal Details
          </h3></div> <div data-v-21d5b280="" class="col-xs-12 col-md-5 pr30"><div data-v-21d5b280="" class="lh30 flex end-lg"><a data-v-21d5b280="" href="#" class="cl-tertiary flex"><span data-v-21d5b280="" class="pr5">
                Edit personal details
              </span> <i data-v-21d5b280="" class="material-icons cl-tertiary">edit</i></a></div></div></div></div></div> <!----> <div data-v-21d5b280="" class="row" style="display: none;"><div data-v-21d5b280="" class="hidden-xs col-sm-2 col-md-1"></div> <div data-v-21d5b280="" class="col-xs-11 col-sm-9 col-md-10"><div data-v-21d5b280="" class="row my30"><div data-v-21d5b280="" class="col-xs-12 col-xl-7 px20 button-container"><button data-v-60b083ed="" data-v-21d5b280="" type="button" data-testid="personalDetailsSubmit" class="no-outline button-full block brdr-none w-100 px10 py20 bg-cl-mine-shaft :bg-cl-th-secondary ripple weight-400 h4 cl-white sans-serif fs-medium">
            Continue to shipping
          </button></div> <!----></div></div></div> <div data-v-21d5b280="" class="row pl20"><div data-v-21d5b280="" class="hidden-xs col-sm-2 col-md-1"></div> <div data-v-21d5b280="" class="col-xs-12 col-sm-9 col-md-11"><div data-v-21d5b280="" class="row fs16 mb35"><div data-v-21d5b280="" class="col-xs-12 h4"><p data-v-21d5b280="">
            Samir Arc
          </p> <div data-v-21d5b280=""><span data-v-21d5b280="" class="pr15">sameer.arcons@yahoo.co.uk</span> <span data-v-291502d0="" data-v-21d5b280="" class="tooltip relative"><i data-v-291502d0="" class="material-icons icon cl-accent">info</i> <div data-v-291502d0="" class="text absolute p25 h5 bg-cl-th-accent cl-white">We will send you details regarding the order</div></span></div> <!----></div></div></div></div></div> <div class="pt20 line relative"><div class="row pl20"><div class="col-xs-1 col-sm-2 col-md-1"><div class="number-circle lh35 cl-white brdr-circle align-center weight-700 bg-cl-th-accent">
        2
      </div></div> <div class="col-xs-11 col-sm-9 col-md-11"><div class="row mb15"><div class="col-xs-12 col-md-7"><h3 class="m0 mb5">
            Shipping
          </h3></div> <div class="col-xs-12 col-md-5 pr30"><div class="lh30 flex end-lg"><a href="#" class="cl-tertiary flex"><span class="pr5">
                Edit shipping
              </span> <i class="material-icons cl-tertiary">edit</i></a></div></div></div></div></div> <!----> <!----> <div class="row pl20"><div class="hidden-xs col-sm-2 col-md-1"></div> <div class="col-xs-12 col-sm-9 col-md-11"><div class="row fs16 mb35"><div data-testid="shippingAddressSummary" class="col-xs-12 h4"><p>
            Samir Nabil
          </p> <p>
            114 Amar Ibn Yasser Street, Heliopolis 114
          </p> <p>
            Cairo 11736
          </p> <p><span>Cairo, </span> <span>Egypt</span></p> <div><span class="pr15">+201226271591</span> <span data-v-291502d0="" class="tooltip relative"><i data-v-291502d0="" class="material-icons icon cl-accent">info</i> <div data-v-291502d0="" class="text absolute p25 h5 bg-cl-th-accent cl-white">Phone number may be needed by carrier</div></span></div> <div class="col-xs-12"><h4>
              Shipping method
            </h4></div> <div class="col-md-6 mb15"><label class="radioStyled"> Fixed | $5.00
              <input type="radio" value="" checked="checked" disabled="disabled" name="chosen-shipping-method"> <span class="checkmark"></span></label></div></div></div></div></div></div> <div class="payment pt20 line relative"><div class="row pl20"><div class="col-xs-1 col-sm-2 col-md-1"><div class="number-circle lh35 cl-white brdr-circle align-center weight-700 bg-cl-th-accent">
        3
      </div></div> <div class="col-xs-11 col-sm-9 col-md-11"><div class="row mb15"><div class="col-xs-12 col-md-7"><h3 class="m0 mb5">
            Payment
          </h3></div> <div class="col-xs-12 col-md-5 pr30"><div class="lh30 flex end-lg"><a href="#" class="cl-tertiary flex"><span class="pr5">
                Edit payment
              </span> <i class="material-icons cl-tertiary">edit</i></a></div></div></div></div></div> <!----> <!----> <div class="row pl20"><div class="hidden-xs col-sm-2 col-md-1"></div> <div class="col-xs-12 col-sm-9 col-md-11"><div class="row fs16 mb35"><div class="col-xs-12 h4"><p>
            Samir Nabil
          </p> <p>
            114 Amar Ibn Yasser Street, Heliopolis 114
          </p> <p>
            Cairo 11736
          </p> <p><span>Cairo, </span> <span>Egypt</span></p> <div><span class="pr15">+201226271591</span> <span data-v-291502d0="" class="tooltip relative"><i data-v-291502d0="" class="material-icons icon cl-accent">info</i> <div data-v-291502d0="" class="text absolute p25 h5 bg-cl-th-accent cl-white">Phone number may be needed by carrier</div></span></div> <!----> <div class="col-xs-12"><h4>Payment method</h4></div> <div class="col-md-6 mb15"><label class="radioStyled"> Cash on delivery
              <input type="radio" value="" checked="checked" disabled="disabled" name="chosen-payment-method"> <span class="checkmark"></span></label></div></div></div></div></div></div> <div data-v-46d81975="" class="order-review pt20 line relative"><div data-v-46d81975="" class="row pl20"><div data-v-46d81975="" class="col-xs-1 col-sm-2 col-md-1"><div data-v-46d81975="" class="number-circle lh35 cl-white brdr-circle align-center weight-700 bg-cl-th-accent">
          4
        </div></div> <div data-v-46d81975="" class="col-xs-11 col-sm-9 col-md-11"><div data-v-46d81975="" class="row"><div data-v-46d81975="" class="col-md-12"><h3 data-v-46d81975="" class="m0">
              Review order
            </h3></div></div></div></div> <div data-v-46d81975="" class="row pl20 pr20" style=""><div data-v-46d81975="" class="hidden-xs col-sm-2 col-md-1"></div> <div data-v-46d81975="" class="col-xs-12 col-sm-9 col-md-11"><div data-v-46d81975="" id="checkout-order-review-additional-container"><div class="mb15 mt20 payment-cash-on-delivery-info-container"><h4 class="mt0">
    Payment Information
  </h4> <div class="bg-cl-secondary px20 py20"><p>
      You are going to pay for this order upon delivery.
    </p></div></div></div> <div data-v-46d81975="" class="row mb15 mt20"><div data-v-46d81975="" class="col-xs-12"><p data-v-46d81975="" class="h4">
              Please check if all data are correct
            </p> <div data-v-46d81975="" class="row"><div data-v-46d81975="" class="cartsummary-wrapper"><div data-v-1ea79a8d="" data-v-46d81975=""><div data-v-1ea79a8d="" class="brdr-bottom-1 brdr-cl-primary pb60"><h3 data-v-1ea79a8d="" class="cl-accent ml30 mt50 summary-title">
      Order Summary
    </h3>  <!----></div> <div data-v-1ea79a8d="" class="py50 px25"><h4 data-v-1ea79a8d="" class="h3 m0">
      Safety
    </h4> <p data-v-1ea79a8d="" class="cl-tertiary lh20">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Nullam sed tempor lorem. Vivamus volutpat eros id est semper accumsan.
    </p> <h4 data-v-1ea79a8d="" class="h3 mb0">
      Shipping
    </h4> <p data-v-1ea79a8d="" class="cl-tertiary lh20">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Nullam sed tempor lorem. Vivamus volutpat eros id est semper accumsan.
    </p> <h4 data-v-1ea79a8d="" class="h3 mb0">
      Returns
    </h4> <p data-v-1ea79a8d="" class="cl-tertiary lh20">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Nullam sed tempor lorem. Vivamus volutpat eros id est semper accumsan.
    </p></div></div></div> <div data-v-48b6119b="" data-v-46d81975="" class="col-xs-11 col-sm-12 col-md-8 bg-cl-secondary p15 mb35 ml10"><div data-v-48b6119b="" class="relative"><input data-v-48b6119b="" type="checkbox" id="acceptTermsCheckbox" class="m0 no-outline"> <label data-v-48b6119b="" for="acceptTermsCheckbox" class="pl35 lh30 h4 pointer">
                I agree to
                <span data-v-46d81975="" data-v-48b6119b="" class="link pointer">
                  Terms and conditions
                </span></label></div> <div data-v-48b6119b=""><!----></div></div></div></div></div></div></div> <div data-v-46d81975="" class="row" style=""><div data-v-46d81975="" class="hidden-xs col-sm-2 col-md-1"></div> <div data-v-46d81975="" class="col-xs-12 col-sm-9 col-md-11"><div data-v-46d81975="" class="row"><div data-v-46d81975="" class="col-xs-12 col-md-8 px20"><button data-v-60b083ed="" data-v-46d81975="" type="button" data-testid="orderReviewSubmit" class="no-outline button-full block brdr-none w-100 px10 py20 bg-cl-mine-shaft :bg-cl-th-secondary ripple weight-400 h4 cl-white sans-serif fs-medium place-order-btn">
                Place the order
              </button></div></div></div></div> <!----></div> <div id="custom-steps"></div></div> <div class="hidden-xs col-sm-5 bg-cl-secondary"><div data-v-1ea79a8d=""><div data-v-1ea79a8d="" class="brdr-bottom-1 brdr-cl-primary pb60"><h3 data-v-1ea79a8d="" class="cl-accent ml30 mt50 summary-title">
      Order Summary
    </h3>  <!----></div> <div data-v-1ea79a8d="" class="py50 px25"><h4 data-v-1ea79a8d="" class="h3 m0">
      Safety
    </h4> <p data-v-1ea79a8d="" class="cl-tertiary lh20">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Nullam sed tempor lorem. Vivamus volutpat eros id est semper accumsan.
    </p> <h4 data-v-1ea79a8d="" class="h3 mb0">
      Shipping
    </h4> <p data-v-1ea79a8d="" class="cl-tertiary lh20">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Nullam sed tempor lorem. Vivamus volutpat eros id est semper accumsan.
    </p> <h4 data-v-1ea79a8d="" class="h3 mb0">
      Returns
    </h4> <p data-v-1ea79a8d="" class="cl-tertiary lh20">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Nullam sed tempor lorem. Vivamus volutpat eros id est semper accumsan.
    </p></div></div></div></div></div> <div style=""><header class="thank-you-title bg-cl-secondary py35 pl20"><div class="container"><div class="breadcrumbs h5 cl-gray"><span><a href="/" class="router-link-active">
      Homepage
    </a> /
  </span> <span class="cl-mine-shaft">
    Order confirmation
  </span></div> <h2 class="category-title">
        Order confirmation
      </h2></div></header> <div class="thank-you-content align-justify py40 pl20"><div class="container"><div class="row"><div class="col-md-6 pl20 pr20"><h3>
            Your purchase
          </h3> <p>You have successfuly placed the order. You can check status of your order by using our <b>delivery status</b> feature. You will receive an order confirmation e-mail with details of your order and a link to track its progress.</p> <p>The Order Number is 000001523</p> <!----> <!----> <!----> <!----> <!----> <p><button data-v-1a011f09="" class="button-outline no-outline py15 bg-cl-transparent h4 no-underline sans-serif fs-medium dark brdr-darkgray cl-secondary px40">
              Allow notification about the order
            </button></p> <p><button data-v-1a011f09="" class="button-outline no-outline py15 bg-cl-transparent h4 no-underline sans-serif fs-medium dark brdr-darkgray cl-secondary px40">
              Return to shopping
            </button></p> <div id="thank-you-extensions"></div></div> <div class="col-md-6 bg-cl-secondary thank-you-improvment"><h3>
            What we can improve?
          </h3> <p class="mb25">
            Your feedback is important for us. Let us know what we could improve.
          </p> <form><div data-v-3f0525d9="" class="relative mb25"><div data-v-3f0525d9="" class="relative"><textarea data-v-3f0525d9="" type="text" name="body" autocomplete="" autofocus="autofocus" class="
        mt10 pb10 w-100 border-box brdr-none brdr-bottom-1
        brdr-cl-primary h4 sans-serif
       empty"></textarea> <label data-v-3f0525d9="">
      Type your opinion
    </label></div> <div data-v-3f0525d9=""></div></div> <button data-v-1a011f09="" class="button-outline no-outline py15 bg-cl-transparent h4 no-underline sans-serif fs-medium dark brdr-darkgray cl-secondary px40">
              Give a feedback
            </button></form></div></div></div></div></div></div>